#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: hsl(0, 0%, 8%);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1em;
  width: 400px;
}

.cardIntro {
  padding: 2em;
  line-height: 0.8;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
}

.avatar {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.location {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-bottom: 3em;
}

.description {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

.cardSocial {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 80%;
  margin-bottom: 3em;
}

.button {
  padding: 1rem;
  border-radius: 0.5em;
  border: none;
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

@media (max-width: 375px) {
  .container {
    width: 300px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 350px;
  }
}
